# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [ ]:
# Your code here

import pandas as pd
import numpy as np

In [ ]:
insurance = pd.read_csv('file1.csv')
insurance.head()

In [ ]:
insurance[insurance['Customer'].isna()==True]

In [ ]:
insurance = insurance[insurance['Customer'].isna()==False]
insurance

In [ ]:
insurance['Number of Open Complaints'].unique()
insurance[insurance['Number of Open Complaints'].isna()==True]

# I guess the middle is the number of complaints

insurance['Number of Open Complaints'].replace('1/0/00', '0', inplace=True)
insurance[insurance['Number of Open Complaints']=='0'].head(60)
insurance['Number of Open Complaints'].replace('1/1/00', '1', inplace=True)
insurance['Number of Open Complaints'].replace('1/2/00', '2', inplace=True)
insurance['Number of Open Complaints'].replace('1/3/00', '3', inplace=True)
insurance['Number of Open Complaints'].replace('1/4/00', '4', inplace=True)
insurance['Number of Open Complaints'].replace('1/5/00', '5', inplace=True)
insurance[insurance['Number of Open Complaints'].isin(['0','1','2','3','4','5'])]

insurance['Number of Open Complaints'] =  pd.to_numeric(insurance['Number of Open Complaints'], errors='coerce') #errors replace non numeric it for NaN


insurance['Number of Open Complaints'] = insurance['Number of Open Complaints'].astype(int)

insurance.dtypes

display(insurance)

insurance['Number of Open Complaints'].unique()

In [ ]:
insurance = insurance[insurance['Customer'].isna()==False]
insurance

In [ ]:
insurance = insurance.rename(columns={'ST':'State',
                                'GENDER':'Gender'})
insurance

In [ ]:
# Check unique values for insurance to later unify values.

insurance['State'].unique()

In [ ]:
# Create a function to replace values in a column so that we can call it later

def clean_state(x):
    if x in ['AZ']:
        return 'Arizona'
    elif x in ['WA']:
        return 'Washington'
    elif x in ['Cali']:
        return 'California'
    else:
        return x

# Call the function

insurance['State'] = list(map(clean_state, insurance['State']))

# Check

insurance['State'].unique()

In [ ]:
# I´m going to do the same for the rest of categorical columns

insurance['Gender'].unique()

def clean_gender(x):
    if x in ['Femal','female']:
        return 'F'
    elif x in ['Male']:
        return 'M'
    else:
        return 'U'
    
insurance['Gender'] = list(map(clean_gender, insurance['Gender']))

insurance['Gender'].unique()

In [ ]:
# Clean/Updated the Education column

insurance['Education'].unique()

insurance['Education'].replace('Bachelors', 'Bachelor', inplace=True)

insurance['Education'].unique()

In [ ]:
insurance['Policy Type'].unique()

In [ ]:
insurance['Vehicle Class'].unique()

In [ ]:
# Now I´m going to check the numeric values
# Quick check
insurance.head(60)

In [ ]:
# Quick check
insurance.describe(include='all').T

In [ ]:
# Check the number of NaN by column

insurance.isna().sum()

In [ ]:
# Change insurance data type
# insurance['Customer Lifetime Value'] = insurance['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0
insurance

In [ ]:
# Check if Customer Lifetime Value can have 0 as a value
insurance[insurance['Customer Lifetime Value']==0.0000]

In [ ]:
# Replace Nan values by the mean

#First calculate the mean:

print('Customer Lifetime Value mean: ', insurance['Customer Lifetime Value'].mean())

In [ ]:
# Replace NaN values by the mean

Customer_Lifetime_Value_mean=insurance['Customer Lifetime Value'].mean()

insurance['Customer Lifetime Value'] = insurance['Customer Lifetime Value'].fillna(Customer_Lifetime_Value_mean)

In [ ]:
# Check if there is still NaN values
insurance.isna().sum()

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
data2 = pd.read_csv('file1.csv')

In [ ]:
# Your code here

def clean_all(data_frame):
    data_frame = data_frame[data_frame['Customer'].isna()==False]
    
    data_frame['Number of Open Complaints'].replace('1/0/00', '0', inplace=True)
    data_frame['Number of Open Complaints'].replace('1/1/00', '1', inplace=True)
    data_frame['Number of Open Complaints'].replace('1/2/00', '2', inplace=True)
    data_frame['Number of Open Complaints'].replace('1/3/00', '3', inplace=True)
    data_frame['Number of Open Complaints'].replace('1/4/00', '4', inplace=True)
    data_frame['Number of Open Complaints'].replace('1/5/00', '5', inplace=True)
    data_frame['Number of Open Complaints'] =  pd.to_numeric(insurance['Number of Open Complaints'], errors='coerce') #errors replace non numeric it for NaN
    data_frame['Number of Open Complaints'] = insurance['Number of Open Complaints'].astype(int)

    data_frame = data_frame.rename(columns={'ST':'State', 'GENDER':'Gender'})
    
    data_frame['State'] = list(map(clean_state, data_frame['State']))
    data_frame['Gender'] = list(map(clean_gender, data_frame['Gender']))
    
    data_frame['Education'].replace('Bachelors', 'Bachelor', inplace=True)

    data_frame['Customer Lifetime Value'] = data_frame['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0
    Customer_Lifetime_Value_mean=data_frame['Customer Lifetime Value'].mean()

    data_frame['Customer Lifetime Value'] = data_frame['Customer Lifetime Value'].fillna(Customer_Lifetime_Value_mean)
    
    return data_frame

In [ ]:
# Call the main function for the whole data
clean_all(data2)

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [108]:
# Your code here

# 1. Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.

# Create smaller dataframe 
insurance2 = insurance[['Total Claim Amount', 'Customer Lifetime Value']]

# Analise estatistics
insurance2.describe().T

,count,mean,std,min,25%,50%,75%,max
Total Claim Amount,1071.0,404.986909,293.027260,0.382107,202.157702,354.729129,532.80000,2893.239678
Customer Lifetime Value,1071.0,7936.902593,6425.757046,2004.350700,4048.534600,5887.182000,8945.20995,58166.553500

In [141]:
# 2. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.

# Define the variables with the values from the dewscribe table and then add a new column to the insurance data frame with those values greater/less than the variable

Q3_1 = 532.80000

insurance2['High Policy Claim'] = insurance2['Total Claim Amount'] > Q3_1


Q1_2 = 4048.534600

insurance2['Low Customer Lifetime Value'] = insurance2['Customer Lifetime Value'] < Q1_2

insurance2

C:\Users\PC\AppData\Local\Temp\ipykernel_10624\1010235402.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance2['High Policy Claim'] = insurance2['Total Claim Amount'] > Q3_1
C:\Users\PC\AppData\Local\Temp\ipykernel_10624\1010235402.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance2['Low Customer Lifetime Value'] = insurance2['Customer Lifetime Value'] < Q1_2

,Total Claim Amount,Customer Lifetime Value,High Policy Claim,Low Customer Lifetime Value
0,2.704934,7936.902593,False,False
1,1131.464935,6979.535900,True,False
2,566.472247,12887.431700,True,False
3,529.881344,7645.861800,False,False
4,17.269323,5363.076500,False,False
...,...,...,...,...
1066,361.455219,3059.550300,False,True
1067,207.320041,20314.997600,False,False
1068,633.600000,3239.124700,True,True
1069,547.200000,4626.801100,True,False
1070,537.600000,8997.040200,True,False

In [142]:
# 3. Select both columns of the dataframe simultaneously and pass it to the .describe() method. 

insurance[['Total Claim Amount', 'Customer Lifetime Value']].describe().T

,count,mean,std,min,25%,50%,75%,max
Total Claim Amount,1071.0,404.986909,293.027260,0.382107,202.157702,354.729129,532.80000,2893.239678
Customer Lifetime Value,1071.0,7936.902593,6425.757046,2004.350700,4048.534600,5887.182000,8945.20995,58166.553500